{% extends 'base.html' %}
{% load static %}
{% block styles %}


{% endblock %}
{% block title%}Авторизация{% endblock %}

{% block content %}

<div class="container-fluid bg-light py-5">
  <div class="col-md-6 m-auto text-center">
    <h1 class="h1">Вход в аккаунт</h1>
    <div class="container py-5">
      <div class="row py-5">
        <form class="col-md-9 m-auto" method="post" role="form" style="width: 500px;">
          <div class="mb-3">
            {% csrf_token %}
            <label for="inputname">Логин</label>
            <input type="text" class="form-control mt-1" id="username" name="username" placeholder="Логин">
          </div>
          <div class="mb-3">
            <label for="inputpassword">Пароль</label>
            <input type="password" class="form-control mt-1" id="password" name="password" placeholder="Пароль">
          </div>
              <button type="submit" class="btn btn-success btn-lg px-3">Войти в аккаунт</button>
        </form>
      </div>
    </div>
    <p>
      Не зарегистрированы на на нашем сайте? <a href="/registration">Зарегистрироваться!</a>
    </p>
  </div>
</div>

{% endblock %}
{% block scripts %}

{% endblock %}